@charset "UTF-8";
/*-------------Миксины----------------*/
.home .vidgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
}
@media screen and (max-width: 556px) {
  .home .vidgets {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.home .vidgets .content {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.home .vidgets .vidgets_item {
  min-height: 300px;
}
.home .vidgets .vidgets_item .header_block {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.home .vidgets .vidgets_item .header_block a {
  opacity: 0.5;
  transition: 0.3s;
}
.home .vidgets .vidgets_item .header_block a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item .title {
    font-size: calc(18px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item .title {
    font-size: calc(18px + 4 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item.notes {
  background-color: var(--grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item.notes {
    padding: calc(10px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item.notes {
    padding: calc(10px + 5 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex: 1;
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-left: -5px;
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list {
  height: 100%;
  display: flex;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item {
  flex: 1;
  width: 100%;
  min-width: 160px;
  max-width: 160px;
  position: relative;
  height: 100%;
  margin: 0 5px;
  background-color: var(--background);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  animation: OpenContainer 1s forwards;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item {
    padding: calc(8px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item {
    padding: calc(8px + 2 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item .content {
  display: flex;
  flex-direction: column;
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item .content .tem {
  margin-top: auto;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item .content .tem {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item .content .tem {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item .content .description {
  opacity: 0.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s;
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .notes_track .notes_list .notes_list_item:hover img {
  transform: scale(1.05);
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .all_notes {
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  border-radius: 10px;
  background-color: var(--background);
  cursor: pointer;
  transition: 0.4s;
  font-weight: 500;
}
.home .vidgets .vidgets_item.notes .notes_list_wrapper .all_notes:hover {
  background-color: var(--main-color);
  color: var(--text-color-dark);
}
.home .vidgets .vidgets_item.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.home .vidgets .vidgets_item .card {
  width: 100%;
  min-width: 200px;
  flex: 1;
  position: relative;
  border-radius: 20px;
  background-color: var(--grey);
  height: 100%;
  max-height: 30dvh;
  min-height: 300px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item .card {
    padding: calc(10px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item .card {
    padding: calc(10px + 5 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item .weather {
  cursor: pointer;
}
.home .vidgets .vidgets_item .weather img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
  transition: 0.5s;
}
.home .vidgets .vidgets_item .weather:hover img {
  transform: scale(1.05);
}
.home .vidgets .vidgets_item .weather .date {
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item .weather .date {
    font-size: calc(18px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item .weather .date {
    font-size: calc(18px + 2 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item .weather .day {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item .weather .day {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item .weather .day {
    font-size: calc(12px + 2 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item .weather::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.home .vidgets .vidgets_item .orders_vidget .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.home .vidgets .vidgets_item .orders_vidget .progress {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .vidgets .vidgets_item .orders_vidget .progress .count {
  position: relative;
  z-index: 11;
  width: 100%;
  max-width: 80px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}
.home .vidgets .vidgets_item .orders_vidget .progress svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 10;
}
.home .vidgets .vidgets_item .orders_vidget .progress .order_circle {
  background-color: transparent;
  fill: transparent;
  stroke-width: 40px;
}
.home .vidgets .vidgets_item .orders_vidget .progress .order_circle.done {
  stroke-width: 20px;
}
.home .vidgets .vidgets_item .orders_vidget .progress .order_circle.current {
  stroke-width: 30px;
}
.home .vidgets .vidgets_item .orders_vidget .marks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
}
.home .vidgets .vidgets_item .orders_vidget .marks .mark_item {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .home .vidgets .vidgets_item .orders_vidget .marks .mark_item {
    font-size: calc(12px + 1.7 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .vidgets .vidgets_item .orders_vidget .marks .mark_item {
    font-size: calc(12px + 1 * 0.0520833333vw);
  }
}
.home .vidgets .vidgets_item .orders_vidget .marks .mark_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 2px;
}
.home .vidgets .vidgets_item .orders_vidget .marks .mark_item.new::before {
  background-color: aqua;
}
.home .vidgets .vidgets_item .orders_vidget .marks .mark_item.current::before {
  background-color: rgb(255, 244, 85);
}
.home .vidgets .vidgets_item .orders_vidget .marks .mark_item.done::before {
  background-color: rgb(255, 255, 255);
}
.home .statistic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--grey);
  border-radius: 20px;
  margin-top: 10px;
  row-gap: 10px;
}
@media (max-width: 768px) {
  .home .statistic {
    -moz-column-gap: calc(20px + 34 * (100vw - 320px) / 1920);
         column-gap: calc(20px + 34 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .statistic {
    -moz-column-gap: calc(20px + 20 * 0.0520833333vw);
         column-gap: calc(20px + 20 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .home .statistic {
    padding: calc(10px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .statistic {
    padding: calc(10px + 5 * 0.0520833333vw);
  }
}
.home .statistic .statistic_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.home .statistic .statistic_item img {
  display: block;
  width: 55px;
  background-color: var(--background);
  padding: 10px;
  border-radius: 50%;
}
.home .statistic .statistic_item .description h3 {
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .home .statistic .statistic_item .description h3 {
    font-size: calc(18px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .home .statistic .statistic_item .description h3 {
    font-size: calc(18px + 2 * 0.0520833333vw);
  }
}
.home .statistic .statistic_item .description p {
  opacity: 0.5;
}/*# sourceMappingURL=home.css.map */