@import './../../../css/common';

.main_icon.mode_button {
    position: relative;
    overflow: hidden;

    & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        transition: 0.4s;
        .icon {
            path,
            circle {
                stroke: var(--text-color-light);
                transition: 0.4s;
            }
        }

        &.sun {
            width: 22px;
            height: 22px;
            top:0%;
            transform: translate(-50%, -50%);
            path {
                transition: 0.4s;
                stroke: var(--in-progress);
                //fill: var(--in-progress);
            }
        }

        &.moon_icon {
            top: 100%;
            transform: translate(-50%, 100%);
        }
    }

    &.dark {
        & svg {
            &.sun {
                top: 0;
                transform: translate(-50%, -100%);
            }

            &.moon_icon {
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &.light {
        & svg {
            &.sun {
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.moon_icon {
                top: 100%;
                transform: translate(-50%, 100%);
            }
        }
    }

    @include mediaMinWidth(992) {
        &:hover {
            & svg {
                &.sun {
                    path {
                        stroke: var(--text-color-dark);
                        // fill: var(--text-color-dark);
                    }
                }
            }
        }
    }
}