@charset "UTF-8";
/*-------------Миксины----------------*/
.dashboard {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--grey);
  padding: 20px;
  padding-top: 30px;
  height: 100dvh;
  overflow: hidden;
  z-index: 100;
  transition: 1s;
}
@media (max-width: 768px) {
  .dashboard {
    width: calc(200px + 238 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard {
    width: calc(200px + 140 * 0.0520833333vw);
  }
}
@media screen and (max-width: 1300px) {
  .dashboard {
    transition: 1.3s;
    transition-delay: 0.3s;
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard {
    position: fixed;
    width: 100%;
    max-width: 500px;
    transform: translateX(-100%);
  }
}
.dashboard.hide {
  width: 100px;
  align-items: center;
}
.dashboard .dashboard_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard .dashboard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .dashboard_header h1 {
  transition: 0s;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .dashboard .dashboard_header h1 {
    font-size: calc(25px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard .dashboard_header h1 {
    font-size: calc(25px + 5 * 0.0520833333vw);
  }
}
.dashboard .dashboard_header .main_icon {
  transform: scale(1);
}
@media screen and (max-width: 1300px) {
  .dashboard .dashboard_header {
    display: none;
  }
}
.dashboard .navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2dvh;
}
.dashboard .navigation a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  will-change: transform;
  transform-origin: left;
  padding: 15px 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s;
}
.dashboard .navigation a p {
  transition: 0.4s;
  font-weight: 300;
  line-height: 0.9;
  overflow: hidden;
}
@media (max-width: 768px) {
  .dashboard .navigation a p {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .dashboard .navigation a p {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
@media screen and (max-width: 1300px) {
  .dashboard .navigation a p {
    display: none;
  }
}
.dashboard .navigation a svg {
  width: 20px;
  height: 20px;
  transition: 0.4s;
}
.dashboard .navigation a svg .icon path,
.dashboard .navigation a svg .icon circle {
  stroke: var(--text-color-light);
  transition: 0.4s;
}
.dashboard .navigation a.active {
  background-color: var(--background);
}
.dashboard .navigation a.active svg .icon path,
.dashboard .navigation a.active svg .icon circle {
  stroke: var(--main-color);
}
@media screen and (min-width: 992px) {
  .dashboard .navigation a:hover {
    background-color: var(--background);
  }
  .dashboard .navigation a:hover svg .icon path,
  .dashboard .navigation a:hover svg .icon circle {
    stroke: var(--main-color);
  }
}
.dashboard .bottom_panel {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.dashboard .bottom_panel .bottom_item {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 1300px) {
  .dashboard .bottom_panel {
    flex-direction: column;
    align-items: center;
  }
}

.dashboard.hide .dashboard_wrapper {
  animation: Hide 1.2s forwards;
}
.dashboard.hide .dashboard_wrapper .dashboard_header {
  justify-content: center;
}
.dashboard.hide .dashboard_wrapper .dashboard_header h1 {
  display: none;
}
.dashboard.hide .dashboard_wrapper .dashboard_header .main_icon {
  transform: scale(-1);
}
.dashboard.hide .dashboard_wrapper .navigation p {
  display: none;
}
.dashboard.hide .dashboard_wrapper .bottom_panel {
  flex-direction: column;
  align-items: center;
}

.dashboard.open .dashboard_wrapper {
  animation: OpenMenu 1.2s forwards;
}

@keyframes Hide {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes OpenMenu {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=dashboard.css.map */