@import './../../../css/common';

.dashboard {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--grey);
    @include adaptiveProperty(width, 340, 200);
    padding: 20px;
    padding-top: 30px;
    height: 100dvh;
    overflow: hidden;
    z-index: 100;
    transition: 1s transform, 1s width, 0.3s background-color;
    @include mediaMaxWidth(1300) {
        transition: 1.3s;
        transition-delay: 0.3s;
        width: 100px;
    }
    @include mediaMaxWidth(768) {
        position: fixed;
        width: 100%;
        max-width: 500px;
        transform: translateX(-100%);
    }
    &.hide {
        width: 100px;
        align-items: center;
    }

    .dashboard_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dashboard_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            @include adaptiveFont(30, 25);
            transition: 0s;
            width: 100%;
            overflow: hidden;
        }
        .main_icon {
            transform: scale(1);
        }
        @include mediaMaxWidth(1300) {
            display: none;
        }
    }

    .navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2dvh;
        a {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            width: 100%;
            will-change: transform;
            transform-origin: left;
            padding: 15px 20px;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.4s;
            p {
                @include adaptiveFont(20, 16);
                transition: 0.4s;
                font-weight: 300;
                line-height: 0.9;
                overflow: hidden;
                @include mediaMaxWidth(1300) {
                    display: none;
                }
            }
            svg {
                width: 20px;
                height: 20px;
                transition: 0.4s;
                .icon {
                    path,
                    circle {
                        stroke: var(--text-color-light);
                        transition: 0.4s;
                    }
                }
            }
            &.active {
                background-color: var(--background);
                svg {
                    .icon {
                        path,
                        circle {
                            stroke: var(--main-color);
                        }
                    }
                }
            }
            @include mediaMinWidth(992) {
                &:hover {
                    background-color: var(--background);
                    svg {
                        .icon {
                            path,
                            circle {
                                stroke: var(--main-color);
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom_panel {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        .bottom_item {
            width: 35px;
            height: 35px;
        }
        @include mediaMaxWidth(1300) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.dashboard.hide {
    .dashboard_wrapper {
        animation: Hide 1.2s forwards;
        .dashboard_header {
            justify-content: center;
            h1 {
                display: none;
            }
            .main_icon {
                transform: scale(-1);
            }
        }

        .navigation {
            p {
                display: none;
            }
        }

        .bottom_panel {
            flex-direction: column;
            align-items: center;
        }
    }
}

.dashboard.open {
    .dashboard_wrapper {
        animation: OpenMenu 1.2s forwards;
    }
}

@keyframes Hide {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes OpenMenu {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
