@import './../../../css/common';

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid transparent;
    gap: 10px;
    span {
        width: 20px;
        height: 20px;
        border-radius: 7px;
        border: 2px solid var(--text-color-light);
        transition: 0.3s;
    }
    p {
        transition: 0.3s;
    }
    &:hover {
        p {
            color: var(--main-color);
        }
        span {
            border: 2px solid var(--main-color);
        }
    }
    &.active {
        p {
            color: var(--main-color);
        }
        span {
            border: 2px solid var(--main-color);
            background-color: var(--main-color);
        }
    }
}