@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './common';

:root {
    --main-color: rgb(63, 252, 16);
    --background: #131313;
    --grey: #1e1f24;
    --blue: #1a78f3;
    --red: #ac0a0a;
    --text-color-light: #fff;
    --text-color-dark: #131313;
    --main-font: "Raleway", sans-serif;
    --done: #590cb3;
    --in-progress: rgb(238, 111, 27);
    --new: #00e6ee;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
[inert], [inert] * {opacity: 0.3;}

html,body{
	max-width: 100%;
	min-width: 320px;
	font-size: 100%;
	font-weight: 400;
	line-height: 1;
	font-size: 14px;
    font-family: var(--main-font);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
    color: var(--text-color-light);
    background: var(--background);
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;background: transparent}
button::-moz-focus-inner {padding:0;border:0;background: transparent}
a, a:visited{text-decoration: none; color: var(--text-color-light);}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: var(--background) !important;
    color: var(--text-color-light) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--text-color-light) !important;
    transition: background-color 0s 600000s, color 0s 600000s;
    caret-color: var(--text-color-light);
}

/*-------------------------------------*/
.main_wrapper {
    display: flex;
    .main_container {
        position: relative;
        flex: 5;
    }
}

.container {
    min-height: 100dvh;
    padding: 100px 20px 20px 20px;
}

.main_button {
    position: relative;
    color: var(--text-color-light);
    border: 2px solid var(--main-color);
    background: transparent;
    @include adaptiveProperty(padding-top, 10, 7);
    @include adaptiveProperty(padding-bottom, 10, 7);
    @include adaptiveProperty(padding-left, 60, 40);
    @include adaptiveProperty(padding-right, 60, 40);
    @include adaptiveFont(16, 14);
    width: max-content;
    white-space: nowrap;
    transition: 0.3s;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    &.white {
      color: var(--text-color-light);
      border: 2px solid white;
    }
    &.cross {
      padding: 5px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & a {
        text-decoration: none;
        color: var(--text-color-light);
        transition: 0.3s;
    }
    @include mediaMinWidth(993) {
      &:hover {
          color: var(--text-color-dark);
          background: var(--main-color);
          & a {
              color: var(--background);
          }
      }
    }
    @include mediaMaxWidth(992) {
      &:active {
          color: var(--text-color-dark);
          background: var(--main-color);
          & a {
              color: var(--background);
          }
      }
    }
}

.main_label {
    font-size: 14px;
    color: var(--text-color-light);
    margin: 0 auto;
    width: max-content;
    display: block;
}

.main_icon {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    svg {
        width: 22px;
        height: 22px;
        .moon {
            fill: var(--blue);
            transition: 0.4s;
        }
        .main_icon_path {
            transition: 0.4s;
            path,
            circle {
                transition: 0.5s;
                stroke: var(--text-color-light);
            }
            &.power {
                path,
                circle {
                    transition: 0.5s;
                    stroke: var(--red);
                }
            }
        }
    }
    &:hover {
        background-color: var(--main-color);
        svg {
            .moon {
                fill: var(--text-color-dark);
            }
            .main_icon_path {
                path,
                circle {
                    stroke: var(--text-color-dark);
                }
            }
        }
    }
}

.main_loading {
    position: relative;
    width: 100%;
    height: 100dvh;
}

@keyframes Open {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes Close {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}